.LoginAreaContainer {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 42px;
  font-family: Roboto;
  color: #21272a;
}

h2 {
  font-size: 18px;
  font-family: Roboto;
  color: #21272a;
}

.LoginAreaContainer div {
  display: flex;
}

.LoginAreaContainer div a {
  margin-left: auto;
}

label,
input,
a {
  display: block;
}

label {
  font-size: 14px;
  color: #21272a;
}

input {
  font-size: 16px;
  color: #697077;
}

#username,
#password {
  width: 100%;
  margin-left: 20px;
  border: none;
}

.eye {
  width: 24px;
  height: auto;
}

p {
  color: #697077;
  font-size: 12px;
}
