.nav {
    background-color: var(--nav-background);
}

.logo {
    padding: 3px 0;
}

.navLinks {
    /* display: flex; */
    /* justify-content: center; */
    gap: 20px;
}

.navLinks a {
    font-family: var(--font-roboto);
    font-size: 20px;
    font-weight: 500;
    margin-left: 3.8rem;
}

.loginButton {
    border-color: black;
    border: 2px solid;
    border-radius: var(--radius);
    background-color: white;
}

@media (max-width: 1024px) {
    .navLinks a {
        margin-left: 1rem;
    }
}