.nav {
    background-color: var(--nav-background);
}

.logo {
    padding: 3px 0;
}

.navLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
  .nav-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #000000; /* Set text color */
    font-size: 20px; /* Adjust font size */
    font-weight: bold; /* Optional: Make text bold */
  }
  
  .nav-links li a:hover {
    color: #0078d7; /* Change color on hover */
  }
  