.nav {
    background-color: var(--nav-background);
}

.logo {
    padding: 3px 0;
}

.navLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navLinks a {
    font-family: var(--font-roboto);
    font-size: 20px;
    font-weight: 500;
}

.loginButton {
    border-color: black;
    border: 2px solid;
    border-radius: var(--radius);
    background-color: white;
}