@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --nav-background: #ffd659;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.313rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-urbanist);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-roboto);
  }
  h1 {
    font-size: 62px;
    font-weight: bold;
    line-height: 72px;
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
  }
  h3 {
    font-size: 34px;
    font-weight: bold;
    line-height: 42px;
  }
  h4 {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }
  h6 {
    font-size: 14px;
    font-weight: medium;
    line-height: 16px;
  }
}

@layer utilities {
  .font-urbanist {
    font-family: var(--font-urbanist);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
  .body-2 {
    @apply font-urbanist;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
  .body-2-bold {
    @apply font-urbanist;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
}